{#
/**
 * @file
 * Default theme implementation to display Modal Helper.
 *
 * @ingroup templates
 * @see modal_page_preprocess_html()
 */
#}
<div class="modal fade" id="image-modal" tabindex="-1" role="dialog" aria-labelledby="image-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <img src="" class="image-preview" style="width: 100%;" >
      </div>
    </div>
  </div>
</div>
